<div class="mb-2 card">
    <div class="card-header-tab card-header">
        <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
            <i class="header-icon lnr-charts icon-gradient bg-happy-green"> </i>
            Base64 text encryption decryption
        </div>
    </div>
    <div class="no-gutters row">
        <div class="col-sm-6 col-md-6 col-xl-6">
            <div class="card-body">
                <form>
                    <div class="position-relative form-group">
                        <label for="engText">Text</label>
                        <textarea autosize name="engText" id="engText" class="form-control"></textarea>
                    </div>
                </form>
            </div>

            <div class="divider m-0 d-md-none d-sm-block"></div>
        </div>
        <div class="col-sm-6 col-md-6 col-xl-6">
            <div class="card-body">
                <form>
                    <div class="position-relative form-group">
                        <label for="base64Text">Bse64 Text</label>
                        <textarea  autosize name="base64Text" id="base64Text" class="form-control"></textarea>
                    </div>
                </form>
            </div>
            <div class="divider m-0 d-md-none d-sm-block"></div>
        </div>

    </div>
    <div class="text-center d-block p-3 card-footer">
        <button class="btn-pill btn-shadow btn-wide fsize-1 btn btn-primary btn-lg">
                  <span class="mr-2 opacity-7">
                      <i class="icon icon-anim-pulse ion-ios-analytics-outline"></i>
                  </span>
            <span class="mr-1">View Complete Report</span>
        </button>
    </div>
</div>